@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primaryColor: #4285f4;
$secondaryColor: #987104;
$accentColor: #34a853;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .retrieve-button {
    background-color: $primaryColor;
    color: #fff;
  }

  .ingest-button {
    background-color: $secondaryColor;
    color: #fff;
  }

  .fetch-button {
    background-color: $accentColor;
    color: #fff;
  }

  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
}

.status-container {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .table-container {
    flex-basis: 48%;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 8px;
        border: 1px solid #ccc;
      }

      th {
        font-weight: bold;
        background-color: #f2f2f2;
      }

      td {
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
  }
}

.no-data-container {
  text-align: center;
  font-size: 16px;
  color: #777;
}

.first_itens{
  font-style: italic;
}

.warning-empty-tables{
  font-style: italic;
  text-align: center;
}